#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;            /* Footer height */
}

#image{
	background-position: center;
	background-size: cover;
}
#Overlay{
	background-color: rgba(0, 0, 0, 0.4);
}

.carouselObject{
	background-color: rgba(0, 0, 0, 0.5)
}

.carouselObjectControl{
	background-color: rgba(0, 0, 0, 0.5);
	display: inline-block;
	width: 20px;
	height: 20px;
}

.falseRow{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

a {
	text-decoration: none;
}

.W {
	background: rgb(240, 240, 240);
	background: conic-gradient(rgba(240, 240, 240, 1) 0%, rgba(240, 240, 240, 1) 100%);
	color: black;
}

.B {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
	color: white;
}

.R {
	background: rgb(240, 0, 0);
	background: conic-gradient(rgba(240, 0, 0, 1) 0%, rgba(240, 0, 0, 1) 100%);
	color: black;
}

.G {
	background: rgb(0, 240, 0);
	background: conic-gradient(rgba(0, 240, 0, 1) 0%, rgba(0, 240, 0, 1) 100%);
	color: black;
}

.U {
	background: rgb(0, 0, 240);
	background: conic-gradient(rgba(0, 0, 240, 1) 0%, rgba(0, 0, 240, 1) 100%);
	color: black;
}

.WU {
	background: rgb(240, 0, 0);
	background: conic-gradient(rgba(240, 240, 240, 1) 0%, rgba(0, 0, 240, 1) 100%);
	color: black;
}

.UB {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(0, 0, 240, 1) 0%, rgba(0, 0, 0, 1) 100%);
	color: white;
}

.BR {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(0, 0, 0, 1) 0%, rgba(240, 0, 0, 1) 100%);
	color: white;
}

.RG {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(240, 0, 0, 1) 0%, rgba(0, 240, 0, 1) 100%);
	color: black;
}

.GW {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(0, 240, 0, 1) 0%, rgba(240, 240, 240, 1) 100%);
	color: black;
}

.WB {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(240, 240, 240, 1) 0%, rgba(0, 0, 0, 1) 100%);
	color: red;
}

.UR {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(0, 0, 240, 1) 0%, rgba(0, 0, 0, 1) 100%);
	color: black;
}

.BG {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 240, 0, 1) 100%);
	color: white;
}

.RW {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(240, 0, 0, 1) 0%, rgba(240, 240, 240, 1) 100%);
	color: black;
}

.GU {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(0, 240, 0, 1) 0%, rgba(0, 0, 240, 1) 100%);
	color: black;
}

.WGU {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(0, 0, 0, 1) 0%,rgba(0, 240, 0, 1) 50%, rgba(0, 0, 240, 1) 100%);
	color: black;
}

.UWB {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(0, 0, 240, 1) 0%,rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 100%);
	color: white;
}

.BRU {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(255, 255, 255, 1) 0%,rgba(240, 0, 0, 1) 50%, rgba(0, 0, 240, 1) 100%);
	color: Black;
}

.RBG {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(240, 0, 0, 1) 0%,rgba(0, 0, 0, 1) 50%, rgba(0, 240, 0, 1) 100%);
	color: white;
}

.GRW {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(0, 240, 0, 1) 0%,rgba(240, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 100%);
	color: black;
}

.WBG {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(255, 255, 255, 1) 0%,rgba(0, 0, 0, 1) 50%, rgba(0, 240, 0, 1) 100%);
	color: white;
}

.URW {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(0, 0, 240, 1) 0%,rgba(240, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 100%);
	color: black;
}

.BGU {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 240, 0, 1) 50%, rgba(0, 0, 240, 1) 100%);
	color: black;
}

.RWB {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(240, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 100%);
	color: black;
}

.GRU {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(0, 240, 0, 1) 0%, rgba(240, 0, 0, 1) 50%, rgba(0, 0, 240, 1) 100%);
	color: black;
}

.RGB {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(240, 0, 0, 1) 0%, rgba(0, 240, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
	color: black;
}

.UBRG {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(0, 0, 240, 1) 0%, rgba(0, 0, 0, 1) 33%, rgba(240, 0, 0, 1) 66%, rgba(0, 240, 0, 1) 100%);
	color: white;
}

.BRGW {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(0, 0, 0, 1) 0%, rgba(240, 0, 0, 1) 33%, rgba(0, 240, 0, 1) 66%, rgba(255, 255, 255, 1) 100%);
	color: black;
}

.RGWU {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(240, 0, 0, 1) 0%, rgba(0, 240, 0, 1) 33%, rgba(255, 255, 255, 1) 66%, rgba(0, 0, 240, 1) 100%);
	color: black;
}

.GWUB {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(0, 240, 0, 1) 0%, rgba(255, 255, 255, 1) 33%, rgba(0, 0, 240, 1) 66%, rgba(0, 0, 0, 1) 100%);
	color: black;
}

.WUBR{
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(255, 255, 255, 1) 0%, rgba(0, 0, 240, 1) 33%, rgba(0, 0, 0, 1) 66%, rgba(240, 0, 0, 1) 100%);
	color: white;
}

.WUBRG {
	background: rgb(0, 0, 0);
	background: conic-gradient(rgba(255, 255, 255, 1) 0%, rgba(0, 0, 240, 1) 25%, rgba(0, 0, 0, 1) 50%, rgba(240, 0, 0, 1) 75%, rgba(0, 240, 0, 1) 100%);
	color: white;
}

.ELDRA {
	background: conic-gradient(rgba(50, 50, 50, 1) 0%, rgba(50, 50, 50, 1) 100%);
	color: white;
}



.longlivecenter {
	text-align: center;
}


h1,
h2 {
	text-align: center;
}

.error {
	color: red;
}


.bouton {
	display: block;
	text-align: center;
	/*haut droite bas gauche*/
	margin: 4% auto 1% auto;
	background-color: #333;
	width: 14%;
	border-radius: 5px;
	border: none;
	color: white;
	padding: 0.5em 1em;
	text-decoration: none;
	font-size: 1em;
}

.bouton:hover {
	background-color: lightgrey;
	color: #333;
}

body {position: relative; height: 100vh; width: 100%;}


